<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dollar4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ds_aixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,40}</string>
                <key>spriteSourceSize</key>
                <string>{36,40}</string>
                <key>textureRect</key>
                <string>{{47,0},{36,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>currency-0.png</string>
            <key>size</key>
            <string>{83,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f2f7c5208440c8545d2447c222a185:39b7a5ed03d230daaac43f888e6acfa8:b6630734980f907d9d735256e98a2305$</string>
            <key>textureFileName</key>
            <string>currency-0.png</string>
        </dict>
    </dict>
</plist>
